* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: black;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: calc((80px + 20px) * 8);
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: lightblue;
}

.boxfizz {
    background-color: green;
}

.boxbuzz {
    background-color: yellow;
}

.boxfizzbuzz {
    background-color: lightcoral;
}